.foto-perfil {
  width: 300px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
  object-position: 100% 22%; /* try 20% 10% */
  border-radius: 100%;
  margin: 20px;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.who-i-am {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 80%;
  border: black solid 2px;
  height: auto;
  flex-wrap: wrap;
  font-size: calc(0.5em + 0.8vw);
}

.who-i-am-text{
  width: 400px;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  flex-shrink: 2;
  font-size: calc(0.5em + 1vw);
  width: auto;
}
.header {
  width: 100%;
  height: auto; 
  background-color: rgb(143, 196, 196);
  display: fixed;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 66, 66);
}
