.header-navigation {
  display: flex;
  justify-content: space-around;
  font-size:larger;
  background-color: rgb(89, 139, 139);
  width: 100%;
}


@media (max-width: 420px) {
  .header-navigation {
    font-size: calc(0.7em + 0.7vw);
  }
}