.header-navigation {
  display: flex;
  justify-content: space-around;
  font-size: calc(0.9em + 0.8vw);
  background-color: cornsilk;
  width: 100%;
}


@media (max-width: 420px) {
  .header-navigation {
    font-size: calc(0.7em + 0.7vw);
  }
}