.project-image {
  margin: 1em;
  border: 3px black solid;
  width: 70%;
}

.nav-link-project {
  margin-bottom: 10px;
}

.project-container {
  display: flex;
  width: 80%;
  border: black solid 2px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  flex-wrap: nowrap;
}

.mid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 20px;
  font-size: calc(0.7em + 0.8vw);
}

@media (max-width: 800px) {
  .project-container {
    flex-wrap: wrap;
    justify-content: space-around;

  }
}